<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Rendering Conditional Content And Lists</title>
  </head>
  <body>
    <header id="goals-header">
      <h1 id="goals-heading">Vue.JS Complete Guide Goals</h1>
    </header>
    <main id="goals-user">
      <h2 id="goals-sub-heading">Vue.JS Complete Guide Goals</h2>
      <input type="text" v-model="goalsInputValue" />
      <button @click="insertGoal">Insert</button>
      <p v-if="goals.length === 0">
        No goals have been inserted yet - Please start inserting some!
      </p>
      <ul v-else>
        <li
          v-for="(goal, index) in goals"
          :key="goal"
          @click="removeGoal(index)">
          <p>{{ index }} - {{ goal }}</p>
          <input type="text" @click.stop />
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
