<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE = edge" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Re-Building Our Application With Vue.JS</title>
  </head>
  <body>
    <main id="goals-container">
      <form id="goals-form">
        <label for="goals-input">Goals</label>
        <input
          type="text"
          name="goals-input"
          id="goals-input"
          placeholder="Finish Vue.JS Complete Guide"
          v-model="goalsInputValue" />
        <button type="submit" id="goals-button" v-on:click="goalsInsert">
          Insert Goal
        </button>
      </form>
      <ul id="goals-list">
        <li v-for="goal in goals">{{ goal }}</li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
